/* ===============================
   DiskFieldList - 데이터 목록
   =============================== */

.disk-fields {
  background: white;
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  max-width: 500px;
  /* margin-top: 25px; */
  margin-bottom: 25px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
  animation: fadeInUp 1s ease forwards;
}

.disk-fields h2 {
  text-align: center;
  margin-bottom: 15px;
  color: #1f2b44;
}

/* 재사용 애니메이션 */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(25px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
